.container {
  max-width: 960px;
}
#titulo-pagina {
    margin-top: 80px;
}
#produtoform {
    display: none;
}
#div-valor-filtro {
    display: none;
}
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.lh-condensed { line-height: 1.25; }
#mascara {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background:#000;
    opacity:.90;
    filter: alpha(opacity=90);
    -moz-opacity: 0.90;
    display: none;
    z-index: 1999;
}
#timer {
    position:absolute;
    width: 120px;
    height: 120px;
    top: 50%;
    margin-top: -59px;
    left: 50%;
    margin-left: -59px;
    background-color: #fff;
    z-index: 2000;
}
#img-gif {
    margin-top: 29px;
    margin-left: 29px;
}