@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./navbar.scss";
@import "./login.scss";

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.app {
    background-color: #dddddd;
    width: 100%;
    height: 100%;
    position: fixed;
}