.btn-veus {
    color: #ffff;
    background-color: #ffbb00;
    border-color: #ffbb00;
}

.btn-veus:hover, .btn-veus:focus{
    color: #fff;
    background-color: #e0a501;
    border-color: #e0a501;
    -webkit-box-shadow: none;
    box-shadow: none;
}