
body{
	overflow-x: hidden;
	background-color: #FEF5E7;
	color:#000 !important;
	line-height:20px !important;
}

h1{
	font-family: 'Goudy-Bold';
	font-size:29px;
	margin:0;
	padding:0;
}
@media(max-width:1024px){
	h1{
		font-size:22px;
	}
}

h2{
	font-family: 'Goudy-Bold';
	font-size:17px;
	margin:0;
	padding:0;
}
@media(max-width:1024px){
	h2{
		font-size:14px;
	}
}

p{
	font-family:'Lato-Regular';
	font-size:15px !important;
}

small{
	font-size:13px !important;
}

a:link{
	text-decoration: none;
	color:#000;
	-moz-transition: 0.5s ease-in;
	-o-transition: 0.3s ease-in;
	transition: 0.3s ease-in;
}
a:visited{
	color:#000;
}
a:hover{
	opacity: 0.5;
}

button,input,textarea,select{
	box-shadow: 0 0 0 0 !important;
    border: 1 none !important;
    outline: 0 !important;
}

input:focus,select:focus,textarea:focus{
	border-color:#999 !important;
}

header{
	border-top:3px solid #000;
	background-image: linear-gradient(#f7f7f7, #fff);
}

.main-low-margin {
    margin-top: 65px;
    margin-left: 300px;
}

.main-logo-margin {
     margin-top: 25px;
}

.navbar {
  font-size: 16px;
  font-weight: bolder;
  height: 100px;
}

.align-img-logo {
  margin-top: 5px;
}

.navbar-inverse {
  background: #3bb3c3;
  /*background: #29166f;*/
}

.navbar-inverse .navbar-nav > .active > a {
  background: #ffffff;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
  font-weight: bolder;
  font-size: 30px;
    font-weight:900;
  letter-spacing: 2px;
}

.navbar-inverse :hover .navbar-brand:hover {
  color: #ffffff;  
}
.navbar-inverse .navbar-nav > li > a {
color: #FFFFFF;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #428bca;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #2a6496;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}